# Byte-compiled / optimized / DLL files

__pycache__

feed_folder
feed_folder_test
feeds
tmp

git_sync.sh

paper_feeder0.py
paper_feeder_saved.py

fetch_arxiv_rss.py
fetch_pubmed_rss.py
fetch_rss.py

.git_sync

universal_rss_fetcher.py
example_usage.py
example_usage1.py
